<section class="wrapper style2 align-left">
    <div class="inner">
        <h2>Schedule</h2>
        <p>The boat departs from casco bay terminals. There is information on directions and parking on their <a href="https://www.cascobaylines.com/about-us/parking-and-directions/">website</a>. The cruise will last a total of three hours, and we'll be making a single stop in the middle to drop off older/younger partygoers and pick up people who may have missed the first departure.</p>
        <div class="index align-left">
            <section>
                <div class="content">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Event</th>
                                <th>Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>6:45pm</td>
                                <td>Boarding Begins</td>
                                <td>Casco Bay Terminals</td>
                            </tr>
                            <tr>
                                <td>7:00pm</td>
                                <td>Departure #1</td>
                                <td>Casco Bay Terminals</td>
                            </tr>
                            <tr>
                                <td>8:03pm</td>
                                <td>Sunset 🌅</td>
                                <td>Aboard Bay Mist</td>
                            </tr>
                            <tr>
                                <td>9:00pm</td>
                                <td>Boat returns to dock</td>
                                <td>Casco Bay Terminals</td>
                            </tr>
                            <tr>
                                <td>9:15pm</td>
                                <td>Departure #2</td>
                                <td>Casco Bay Terminals</td>
                            </tr>
                            <tr>
                                <td>10:45pm</td>
                                <td>Boat's final return to dock.</td>
                                <td>Casco Bay Terminals</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
