<section class="wrapper style2 align-left">
    <div class="inner">
        <h2>Schedule</h2>
        <p>All events, the ceremony, dinner and reception take place on May 18th 2024 in Portland's Old port neighborhood. There is an interactive map in the 'Lodging' section below where all locations are marked.</p>
        <div class="index align-left">
            <section>
                <div class="content">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Event</th>
                                <th>Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>3:00pm</td>
                                <td>Ceremony, Drinks & Dinner</td>
                                <td>Luke’s Lobster (60 Portland Pier, Portland, ME)</td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="font-style: italic; padding: 3rem; text-align: center">Rest and recharge! The boat terminal is a short 5-minute (0.2 mile) walk from Luke’s.</p>
                        <table>
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Event</th>
                                <th>Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>6:45pm</td>
                                <td>Boarding Begins</td>
                                <td>Casco Bay Terminals (Maine State Pier, 56 Commercial Street, Portland, ME)</td>
                            </tr>
                            <tr>
                                <td>7:00pm</td>
                                <td>Departure #1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>8:03pm</td>
                                <td>Sunset 🌅</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>9:00pm</td>
                                <td>Boat Returns to Dock</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>9:15pm</td>
                                <td>Departure #2</td>
                                <td>Casco Bay Terminals (Maine State Pier, 56 Commercial Street, Portland, ME)</td>
                            </tr>
                            <tr>
                                <td>10:45pm</td>
                                <td>Boat's Final Return to Dock.</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="font-style: italic; padding-left: 3rem; padding-right: 3rem; padding-top: 3rem; text-align: center">Just because the maritime reception ends does not mean the party has to stop! Afterparty details to follow.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
