{{ define "main" }}
	{{ partial "banner" site.Data.a_top_header }}
	{{ partial "spotlight" site.Data.b_ceremony_dinner }}
	{{ partial "spotlight" site.Data.c_reception }}
	{{ partial "schedule_table" . }}
	{{ partial "spotlight" site.Data.e_walking }}
	{{ partial "spotlight" site.Data.f_lodging }}
	{{ partial "spotlight" site.Data.g_traveling }}
	{{ partial "spotlight" site.Data.h_rsvp }}
	{{ partial "spotlight" site.Data.i_registry }}
	{{ partial "spotlight" site.Data.j_explore }}
	{{ partial "gallery" site.Data.k_footer_gallery }}
{{ end }}